{% extends "layout.html" %}
{% block content %}
<div>{{level.legend|render|safe}}</div>
{%- if let Some(n) = level.next %}
<form action="/level/{{n.to}}">
    {% if let Some(_) = next.as_ref().unwrap().key -%}
    <p><input name="answer"></p>
    {%- endif %}
    <button type="submit">{{n.caption}}</button>
</form>
{% endif %}
<ul class="attachments">
    {%- for attach in attachments.iter() %}
    <li><img class="attach-icon" src="{{attach.icon.data_url()}}"><a href="/a/{{attach.file}}"
        {%- if attach.download %} download="download"
        {%- endif -%}
    >{{attach.name}}</a></li>
    {%- endfor %}
</ul>
{% endblock %}